{% load static %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
           <span style="font-weight: bold; color: #494444; font-size: large;" >Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'overall_page' %}" style="font-weight: bolder; color:rgb(255,71,71);">
            <span data-feather="home"></span>
            Overall
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="chart-data/">
            <span data-feather="users"></span>
            Tables and Charts
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tables_page' %}">
            <span data-feather="shopping-cart"></span>
            Tables
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charts_page' %}">
            <span data-feather="users"></span>
            charts
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reports</span>
        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="">
            Display pdf Report
          </a>
        </li>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Users</span>
        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </nav>